body
{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  font-family: Verdana;
}

div 
{
  page-break-inside:avoid;
  font-size: 18px;
}

.event
{
  width:100%;
  border-bottom: 1px solid black;
}

.title {
  background-color: #FFBB00;  
}

.body {
  background-color: #BBFF00;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.when
{
  width:25%;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
}

.what
{
  font-weight: bold;    
  padding-top: 5px;
}

.where
{
  padding-bottom: 5px;
  padding-left: 5px;
  vertical-align: top;
}

.why
{
  padding-right: 10px;
}
